{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block about %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>About</h1>

    <h2>Name</h2>
    <p>Lom</p>

    <h2>Career</h2>
    <p>フェンリル 5Days</p>
    <p>ナビタイムジャパン 3Days</p>
    <p>ブレインパッド 5Days</p>
    <p>MTI 9Days</p>
    <p>データグリッド 2Month</p>
    <p>QuickWork 3Month</p>
    <p>オープンワーク 2Month Now</p>

    <h2>Hobby</h2>
    <p>旅行 ラーメン ドライブ 米津玄師 一人旅</p>
    <p>お酒 湊かなえ シェアハウス 写真 外食</p>
    <p>ジブリ お笑い ヨルシカ yama 猫</p>
    <p>漫画 珈琲 読書 登山 ボカロ</p>
    <p>サイクリング 海鮮 外食 富樫義博 オードリー</p>
</div>
{% endblock %}
