{% extends 'base.html.twig' %}

{% block title %}Hello SkillsController!{% endblock %}

{% block skills %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Skills</h1>

    <h2>Language</h2>
    <p>C / Java / JavaScript / PHP / C++ / C# / Python / HTML / CSS / Assembler</p>

    <h2>Framework</h2>
    <p>Vue.js / React.js / Flask / Symfony</p>

    <h2>Database</h2>
    <p>MySQL / PostgreSQL / DynamoDB / Firebase</p>

    <h2>Tools</h2>
    <p>Android Studio / Unity / QGIS</p>

    <h2>Infrastructure</h2>
    <p>AWS / GCP / Firebase</p>

    <h2>Others</h2>
    <p>自作PC / 画像処理 / スクレイピング</p>

</div>
{% endblock %}
